.flexible_container{
    display: flex;
}
.intro{
    
    padding-top: 10%;
    padding-left: 10%;
}
.header{
    color:  #333333;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Yeseva One', cursive;
    border-left: 5px solid;
    border-color: #FF5959;
        
}
.header1{
    margin: 0;
}
.top_para{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: #3E3E3E;
   
}

.half_width{
    width: 50%;
}
.half_width img{
    width: 45%;
    padding-left: 25%;
    
}
.coloring{
    color: #FFAD5A;
}
.link-button{
    text-decoration: none;
    background-color: #FF5959;
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    
    
}
.scroll{
    color: #434343;
    font-size: 16px;
    margin-top: 25px;
}

.mymission{
    font-size: 50px;
    text-align: center;
}
.mission2022{
    display: flex;
    padding-left: 10%;

}
.mission2022 div {
    width: 25%;
    padding-left: 20px;
    padding-right: 10px;
}
.mission2022 img{
    width: 40%;
}
.tag{
    font-size: 24px;
}
.mission{
    background-color: #bdecf1b0;
    border-radius: 20px;
    margin-right: 2%;
}

.vision{
    background-color: #f7d0d0;
    margin-right: 2%;
    border-radius: 20px;
}
.goals{
    background-color: #FFF4D6;
    border-radius: 20px;

}

.mid_para{
    color: #424242;
    
}
.dev_para  {
    width: 42%;
   

}

.coding_img{
    width: 60%;
}
.global_img{
    width: 60%;
    margin-left: 120px;
}
.mid_gaph{
    padding-top: 5%;
    padding-left: 10%;

}

.develop{
    font-size: 36px;
}

.paragraph{
    margin-right: 20%;
}
.about{
    text-align: center;

}

    


footer{
    color: white;
    text-align: center;
    background-color: black;
    padding: 10px;
    margin-top: 20px;
  
}
